.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #b6c4d5;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}
.logo {
  font-weight: bold;
  font-size: 24px;
}
.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}
.profile-pic {
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
}
